@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Turl!</h1>
    <p class="lead">Turl is a tiny url converter.</p>
    <p><a href="https://en.wikipedia.org/wiki/URL_shortening" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Turl?</h2>
        <p>
            Turl is a 'tiny url' website that converts existing urls into shorter versions.
            This way you can share links with coworkers and friends easily regardless of the original url length!
        </p>
    </div>
</div>